<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>TuneLyrics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <style>
        footer {
            text-align: center;
            padding: 10px;
            background-color: darkgrey;
        }
    </style>
</head>
<body>

<div class="container">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TuneLyrics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/songs">Songs</a>
                    </li>

                    <!-- Uploaders only -->
                    <li class="nav-item" sec:authorize="hasRole('UPLOADER')">
                        <a class="nav-link" href="/songs/upload">Upload Song</a>
                    </li>
                </ul>

                <!-- Search form -->
                <form class="d-flex" th:action="@{/songs/search}" method="get">
                    <input class="form-control me-2" type="search" name="query"
                           placeholder="Search by title or artist" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!-- Login / Logout -->
                <ul class="navbar-nav ms-3">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page content -->
    <div th:replace="${content}"></div>


</div>
<footer class="fixed-bottom">
        &copy; 2026 TuneLyrics
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</body>
</html>