<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Tunelyrics - Login</title>
</head>
<body>
<section>
    <div class="row">
        <div class="col-sm-6 offset-md-3 pt-5">
            <h1 class="text-center">Login</h1>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
                </div>
                <div class="text-center">
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>