<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>TuneLyrics - Register</title>
</head>
<body>
<section>

    <!-- Pills content -->
    <div class="row">
        <div class="col-sm-6 offset-md-3 pt-3">
            <h1 class="text-center">REGISTER</h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                    <form method="post" th:object="${userDto}" th:action="@{/register}">

                        <!-- Username input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="registerUsername" class="form-control" th:field="*{username}" />
                            <label class="form-label" for="registerUsername">Username</label>
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="registerEmail" class="form-control" th:field="*{email}" />
                            <label class="form-label" for="registerEmail">Email</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="registerPassword" class="form-control" th:field="*{password}" />
                            <label class="form-label" for="registerPassword">Password</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                                   aria-describedby="registerCheckHelpText" />
                            <label class="form-check-label" for="registerCheck">
                                I have read and agree to the terms
                            </label>
                        </div>

                        <!-- Submit button -->
                        <div class="text-center">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>
                        </div>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Already a member? <a href="/login">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div></div>
    <!-- Pills content -->

</section>

</body>
</html>