<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>FutureLMS - Login</title>
</head>
<body>

<section>
    <div class="pt-3">
        <h1 class="text-center">Users</h1>
        <h2 class="text-center">UPLOADERS</h2>
        <div th:each="uploader : ${uploaders}">
            <h3 class="text-center" th:text="${uploader.username}">Uploader's Name</h3>
        </div>
    </div>
</section>

</body>
</html>